

$color-primary-lighter: #7ed56f;
$color_primary: #55c57a;
$color_primary_darker: #28b485;
$color_white:#fff;

$color-grey:#777;
$color-grey-2:#999;
$color-black:#000;
$color-light-grey:#f7f7f7;

$color-grey-light-2: #eee;
$color-grey-white:#eee;
$color-orange-light:#ffb900;
$color-orange-dark:#ff7730;
$color-blue-light:#2998ff;
$color-blue-dark:#564358;

/* font-size */

$default-font-size:1.6rem;

/* grid variables */

$row-width: 114rem;
$gutter-horizontal:6em;
$gutter-vertical:8em;



