@keyframes moveRight{
	0%{
		opacity: 0;
		transform: translateX(-10rem);
	}
	80%{
		transform: translateX(1rem);
	}
	100%{
		transform: translate(0);
		opacity: 1;
	}
}

@keyframes moveLeft{
	0%{
		opacity: 0;
		transform: translateX(10rem);
	}
	80%{
		transform: translateX(-1rem);
	}
	100%{
		transform: translate(0);
		opacity: 1;
	}

}
/*animation for buttons */
btn--anime{
	animation: buttonFromBottom 3s ease-out .75s;
	animation-fill-mode: backwards;
}

@keyframes buttonFromBottom{
	0%{
		transform: translateY(30px);
		opacity: 0;
	}
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}